In [7]:
import sqlite3
import pandas as pd

In [8]:
conn = sqlite3.connect('netease_cloud_music.db')

In [9]:
sql = '''
    SELECT *
    FROM song
    WHERE artists LIKE '%窦唯%'
'''

In [10]:
df = pd.read_sql(sql, con=conn)

In [11]:
df.head()

   song_id song_name artists album_name  album_id  duration
0  5279713      高级动物     窦唯,    摇滚中国乐势力    513562    217391
1    77466       噢!乖     窦唯,         黑梦      7608    314697
2    77417       艳阳天     窦唯,        艳阳天      7605    241998
3    77447      黑色梦中     窦唯,         黑梦      7608    284056
4  5279715      悲伤的梦     窦唯,    摇滚中国乐势力    513562    323997

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Data columns (total 6 columns):
song_id       445 non-null int64
song_name     445 non-null object
artists       445 non-null object
album_name    445 non-null object
album_id      445 non-null int64
duration      445 non-null int64
dtypes: int64(3), object(3)
memory usage: 20.9+ KB

In [13]:
df['song_id'].nunique()

445

In [22]:
sql = '''
    SELECT *
    FROM comment
'''

In [23]:
df2 = pd.read_sql(sql, con=conn)

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53541 entries, 0 to 53540
Data columns (total 7 columns):
comment_id       53541 non-null int64
user_id          53541 non-null int64
user_nickname    53541 non-null object
user_avatar      53541 non-null object
content          53541 non-null object
likeCount        53541 non-null int64
song_id          53541 non-null object
dtypes: int64(3), object(4)
memory usage: 2.9+ MB

In [25]:
df2.nunique()

comment_id       53541
user_id          32976
user_nickname    32272
user_avatar      35593
content          47897
likeCount          298
song_id             15
dtype: int64