In [8]:
import sqlite3
import pandas as pd

In [9]:
conn = sqlite3.connect('netease_cloud_music.db')

In [12]:
df = pd.read_sql('SELECT * FROM comment', con=conn)

In [13]:
df.head()

,comment_id,user_id,user_nickname,user_avatar,content,likeCount
0,1288440783,510915436,瓷蓝瓶,http://p2.music.126.net/JUryvW7858pT3iU2hDAxug...,很云淡风轻的感觉 说不出来的舒服,0
1,1288384250,405773859,吴彦祖走了,http://p2.music.126.net/_aIEsCrGPSCsMvM6bSMmcA...,对对对,0
2,1288388112,405773859,吴彦祖走了,http://p2.music.126.net/_aIEsCrGPSCsMvM6bSMmcA...,有一、、、、像任我行,1
3,1288091555,1415034102,DralingInTheFRANXX-,http://p2.music.126.net/LvFZwI3I9tWp30k8JGk26g...,是脱离团队，单人创作不是离开了,0
4,1288002316,390539643,ankerjam,http://p2.music.126.net/MQqrzlhYXaDaZpalTjs7eg...,床前明月光,0